<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882383962262-hbg2bk995tqo65ghkvj352oacqqk3q1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882383962262-hbg2bk995tqo65ghkvj352oacqqk3q1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCUAeXlV07JKLFrTaMEOAo4-8QRQU9FMhU</string>
	<key>GCM_SENDER_ID</key>
	<string>882383962262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>College.College-UW</string>
	<key>PROJECT_ID</key>
	<string>college-uw</string>
	<key>STORAGE_BUCKET</key>
	<string>college-uw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882383962262:ios:f5c53fa8a43bdbdc1b82b7</string>
</dict>
</plist>